body{
    background-color: rgb(228, 203, 156);
}
.tagline{
    color:rgb(190, 116, 32);
    font-style:italic;
    text-align: center;
}
.offers{
    align-items: center;
    justify-content: center;
}
.pricelist{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-style: oblique;
    color: rgb(145, 89, 36);
}

table {
    width:100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;  
    padding-left: 20%;
    
}

td, th{
    text-align: left;
    padding: 8px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(160, 97, 25);
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 0%;
}
